.App-header .navbar {
  z-index: 10;
  padding: 0 20px;
  background-color:#39372a;
}

.App-header .navbar a,.navbar-text{
  color:white;
}
.ReactModal__Overlay {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.2) !important;
}

.logo-container {
    /*width: 140px; */
    /* height: 56px; */
    /* margin-left: -70px; */
    display: flex;
    /* margin-top: -4px; */
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background: #fffcfc;
    margin-left: -30px;
}
.navbar-brand {
  padding: 0px;
  margin: 0px 10px;
}
.navbar-brand {
  color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-text *{
  padding: 0 2px;
  cursor:pointer;
  color:#999 !important;
}


.logo{
    background: url("../assets/logo-transparent.png") no-repeat;
    background-size: 130%;
    width: 89px;
    height: 60px;
    background-position: center;
}
.form > div {
  height: 40px !important;
  width: 100%;
}
.form-control {
  margin:10px;
  padding:0;
  border: none;

}
.ReactModal__Content {
  max-width:400px;
  width: 100%;
  top:unset !important;
  left:unset !important;
  bottom:unset !important;
  right:unset !important;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid #999;
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  /*border-top: 5px solid rgba(0, 0, 0, 0.5);*/
  border-bottom: 5px solid rgba(0, 0, 0, 1);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid #999;
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 1);
  /*border-right: 5px solid rgba(0, 0, 0, 0.5);*/
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
.Pane.vertical.Pane1 {
  overflow: auto;
}
.Pane.horizontal.Pane2 {
  overflow: auto;
}
.layers-panel{
  margin:20px 0 !important;
}
.Pane.horizontal.Pane2, .Pane.vertical.Pane2 .Pane.vertical.Pane2{
  padding: 15px;
  color:whitesmoke;
}
.Pane{
  background-color:#39372a !important;
}

#three-map{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /*background:url("../assets/camera1.jpg") no-repeat;*/
  background-size:100% 100%;
}
#axes-helper{
  width:60px;
  height: 60px;
  max-width:100px;
  max-height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  /*border: 1px solid black;*/
}