.rc-tree .rc-tree-treenode {
    margin: 0;
    padding: 5px;
    line-height: 20px;
    white-space: nowrap;
    list-style: none;
    outline: 0;
    color: white;
    border-bottom: 1px solid #525252;
}
.rc-tree-treenode.rc-tree-treenode-selected{
    background-color: #262525 !important;
}
.rc-tree-treenode:hover{
	background-color:#555353;
}
.rc-tree-treenode .rc-tree-node-selected {
    background-color: unset !important;
    border:none;
    opacity: 1;
}